<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="<%= root_url %>">
    <%= image_tag "book-icon.png", width: "30", height: "30", class: "d-inline-block align-top" %>
    LivrariaRemot@
  </a>
</nav>